.ipynb_checkpoints/
*.pyc
.DS_Store

# Python
__pycache__/
*.pyc

# Environments / secrets
.venv/
.env
.env.*

# W&B local run logs
wandb/
notebooks/wandb/
**/wandb/

# local experiment outputs
results/
notebooks/results/
notebooks/wandb/
wandb/



# Data
data/piglatin/full/

src/*.egg-info/
